<div class="align-left">
    <div class="light small bright">MMM-MotionDetector stats:</div>
    <div class="light small normal">powered off: <span class="bright">{{duration}}</span> (<span class="bright">{{percentagePoweredOff}} %</span> of uptime)</div>
    <div class="light small normal">last score detected: <span class="bright">{{lastScoreDetected}}</span></div>
    <div class="light small normal">last time motion detected: <span class="bright">{{lastTimeMotionDetected}}</span></div>
</div>
